<div ng-show="showLanguage">
    <p><b>{{selectedLanguage}}</b> is used as a: <b>{{languagePurpose}}</b></p>
    <p>Find more info <a href="{{website}}" target="_blank">here</a></p>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Function</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="code in currentCode">
                <td>{{code.syntax}}</td>
                <td>{{code.function}}</td>
                <td>{{code.example}}</td>
            </tr>
        </tbody>
    </table>
</div>