<p><b>{{selectedLanguage}}</b> is used as: <b>{{languageUse}}</b></p>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Syntax</th>
            <th>Function</th>
            <th>Example</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="syntax in currentSyntax">
            <td>{{syntax.syntax}}</td>
            <td>{{syntax.function}}</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>