<!--NAME-->
<div class="form-group">
    <label for="name" class="col-md-2 control-label">Language Name</label>
    <div class="col-md-10">
        <input class="form-control" ng-model="adding.name"
            placeholder="Javascript, Python, C, etc.">
    </div>
</div>

<!--PURPOSE-->
<div class="form-group">
    <label for="purpose" class="col-md-2 control-label">Purpose of Language</label>
    <div class="col-md-10">
        <select class="form-control" ng-model="adding.purpose">
            <option ng-repeat="purpose in purposes | orderBy: purpose">{{purpose}}</option>
        </select>
    </div>
</div>

<!--WEBSITE-->
<div class="form-group">
    <label for="purpose" class="col-md-2 control-label">Language Website</label>
    <div class="col-md-10">
        <input class="form-control" ng-model="adding.website"
            placeholder="www.website.com">
    </div>
</div>