<!--NAME-->
<div class="form-group">
    <label for="name" class="col-md-2 control-label">Language Name</label>
    <div class="col-md-10">
        <input class="form-control" ng-model="adding.name"
            placeholder="Javascript, Python, C, etc.">
    </div>
</div>

<!--PURPOSE-->
<div class="form-group">
    <label for="purpose" class="col-md-2 control-label">Kind of Language</label>
    <div class="col-md-10">
        <input class="form-control" ng-model="adding.purpose"
            placeholder="Object-oriented, markup, styling, etc.">
    </div>
</div>

<!--WEBSITE-->
<div class="form-group">
    <label for="purpose" class="col-md-2 control-label">Language Website</label>
    <div class="col-md-10">
        <input class="form-control" ng-model="adding.website"
            placeholder="www.website.com">
    </div>
</div>