<table class="table table-striped table-hover box-shadow--6dp">
    <thead>
        <tr>
            <th>Syntax</th>
            <th>Function</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="code in currentCode | orderBy: selectedSort">
            <td ng-dblclick="edit(code.syntax.name, 'syntax')">
                <span>{{code.syntax.name}}</span>
            </td>
            <td ng-dblclick="edit(code.function.name, 'function')">
                <span>{{code.function.name}}</span>
            </td>
            <td ng-dblclick="edit(code.example.name, 'example')">
                <span>{{code.example.name}}</span>
            </td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Syntax" ng-model="add.syntax.name"></td>
            <td><input type="text" placeholder="Function" ng-model="add.function.name"></td>
            <td><input type="text" placeholder="Example" ng-model="add.example.name"></td>
        </tr>
    </tbody>
</table>