<!--TODO: Look into 'track by' for ng-repeat-->
<!--Look into ng-blur-->
<table class="table table-striped table-hover box-shadow--6dp">
    <thead>
        <tr>
            <th>Syntax</th>
            <th>Function</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="code in currentCode | orderBy: selectedSort">
            <td ng-dblclick="edit(code.syntax, 'syntax')">
                <span ng-hide="code.syntax.editing">{{code.syntax.name}}</span>

                <input ng-show="code.syntax.editing" 
                        ng-blur="doneEditing(code.syntax)"
                        ng-model="edit.syntax" type="text">
            </td>
            <td ng-dblclick="edit(code.function, 'function')">
                <span ng-hide="code.function.editing">{{code.function.name}}</span>

                <input ng-show="code.function.editing" 
                        ng-blur="doneEditing(code.function)"
                        ng-model="edit.function" type="text">
            </td>
            <td ng-dblclick="edit(code.example, 'example')">
                <span ng-hide="code.example.editing">{{code.example.name}}</span>

                <input ng-show="code.example.editing" 
                        ng-blur="doneEditing(code.example)"
                        ng-model="edit.example" type="text">
            </td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Syntax" ng-model="add.syntax.name"></td>
            <td><input type="text" placeholder="Function" ng-model="add.function.name"></td>
            <td><input type="text" placeholder="Example" ng-model="add.example.name"></td>
        </tr>
    </tbody>
</table>